<footer>

    <ul class='social'>
      <li class='social__item'><a class='social__link' href=https://dribbble.com/artcoholic target=blank_><i class="fa fa-dribbble fa-lg"></i><span class=hide>Dribbble<span></span></span></a></li>
      <li class='social__item'><a class='social__link' href=https://twitter.com/agwibawa target=blank_><i class="fa fa-twitter fa-lg"></i><span class=hide>Twitter<span></span></span></a></li>
      <li class='social__item'><a class='social__link' href=https://www.instagram.com/art_coholic target=blank_><i class="fa fa-instagram fa-lg"></i><span class=hide>Instagram <span></span></span></a></li>
      <li class='social__item'><a class='social__link' href=https://www.linkedin.com/in/arturowibawa target=blank_><i class="fa fa-linkedin fa-lg"></i><span class=hide>LinkedIn<span></span></span></a></li>
    </ul>

</footer>
