{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "structure" %}

{% block main %}

	{% set featuredImg = entry.featuredImage.first() %}
	<div class='hero' style='background-image: url({{ featuredImg.getUrl() }});'>

		<div class='container'>
			<h1 class='hero__intro' id='hero__intro'>{# {{ entry.introCopy }} #}</h1>
		</div>

	</div>

	<div class="hero__world">
		<div class='hero__world--img'></div>
	</div>

	<div class='work'>

		<div class='work__container'>
			{% for project in craft.entries.section('work').limit(6) %}	
				<article class='work__entry sequence'>
					<div class="work__bg">
						<div class='work__content'>
							<div class='work__content--thumb'>
								<a href='{{ project.url }}'>
									<img src='{{ project.featuredThumb.first().getUrl() }}' alt='Project Thumb'>
								</a>
							</div>
							<div class='work__content--description'>
								<a href='{{ project.url }}'>
									<h2>{{ project.title }}</h2>
								</a>
								<h4>{{ project.workType }}</h4>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
		</div>

	</div>

	<div class='pre-footer pre-footer--index'>

		<h1>Who is this guy?</h1>

		<a class='btn btn--solid btn--home' href='profile'>Let's find out</a>

	</div>

{% endblock %}

{% block javascript %}
<script>
	/* DAYS CALLOUT CYCLE */ 
	(function() {
		
		var date = new Date();
		var day = new Array(7);

		day[0] = "Resting";
		day[1] = "wake up!";
		day[2] = "hm Tacos";
		day[3] = "Humpday";
		day[4] = "Hurrah!";
		day[5] = "TGIF!";
		day[6] = "Chillin";

		var quote = day[date.getDay()];
		document.getElementById("hero__intro").innerHTML = quote;

	}());
</script>
{% endblock %}
